:root {
  --Whitee: hsl(0, 100%, 100%);
  --Purple100: hsl(275, 100%, 97%);
  --Purple600: hsl(292, 16%, 49%);
  --Purple950: hsl(292, 42%, 14%);
}
body {
  margin: 0;
  background-color: var(--Purple100);
}
@font-face {
  font-family: WorkSans-Italic-VariableFont_wght;
  src: url(./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: WorkSans-VariableFont_wght;
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}
.top-bg {
  height: 13rem;
  background: url("./assets/images/background-pattern-desktop.svg") no-repeat
    center;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.BOX {
  width: 40%;
  background-color: var(--Whitee);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-top: -6rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h2 {
  margin: 0;
}
.plus-icon {
  flex-shrink: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .top-bg {
    height: 11rem;
    background: url("./assets/images/background-pattern-mobile.svg") no-repeat
      center;
    background-size: cover;
  }
  .BOX {
    width: 70%;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--Purple100);
  margin: 1rem 0;
}
